.main_about{
    /*max-width: 1440px;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15rem;
    
}

p{
    font-weight: 500;
    font-style: normal;
    font-size: 2.4rem;
    line-height: 5rem;
    text-align: center;
    color: #7D8FB3;
    text-align: justify;
   
    max-width: 110rem;
    
}

p .active{
    color: inherit;
    font-weight: bold;
}


.main_list_social_icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

