.card{
    background: #FFFFFF;
    box-shadow: 0 .2rem .5rem rgba(54, 61, 77, 0.05);
    border-radius: .5rem;
    text-align: center;
    padding: 5.4rem 0;
    width: 25.5rem;
}

.card__icon{
    display: inline-block;
    height: 6rem;
    width: 6rem;
    margin-bottom: 6.2rem;
}

.card__title{
    display: inline-block;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: #175156;
    width: 90%;
}