.contact-us{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15rem;
}


.form{
    width: 80%;
    display: flex;
    flex-direction: column;
  
}

.form__row:not(:last-child){
    margin-bottom: 3rem;
}


.form__row{
    display: flex;
    justify-content: center;
    gap: 3rem;

}

.form__group{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form__label{
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #175156;
    text-align: left;
    transition: all .3s;
}

.form__icon{
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 2rem;
    top: 0;
    transform: translateY(100%);
}


.form__input{
    /*width: 32rem;
    height: 6rem;*/
    width: 100%;
    display: block;
    padding: 2.2rem 4rem 2.2rem 3rem;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #175156;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(54, 61, 77, 0.03);
    border-radius: 15px;
    border: 0;
    box-sizing: border-box;
}

.form__input--msg{
   /* width: 67rem;
    height: 6rem;*/
}

.form__input:placeholder-shown + .form__label{
    opacity: 0;
    visibility: hidden;
    transform: translate(3rem , -4rem);
}

.form__input::-webkit-input-placeholder{
    color: #175156;
}

.form__input:focus{
    outline: none;
    
}

.form__input:-webkit-autofill,
.form__input:-webkit-autofill:hover, 
.form__input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    -webkit-text-fill-color: #175156;
}



