.features{
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 15rem;
   
}

.features__services-box{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(25.5rem - 2.7rem), 1fr));
    justify-items:center;
    gap: 2.7rem;
}

.features__items-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20rem;

}

.fetures__items-box > div:nth-child(2n) .feature{
    direction: rtl;
}
