.features{
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 15rem;
   
}

.features__services-box{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(25.5rem - 2.7rem), 1fr));
    justify-items:center;
    gap: 2.7rem;
}

  /*1 rem = 5px, 5/16 = 31.25%*/  /*Smart-Phone 480px*/
@media only screen and (max-width: 75em) {
    .features__services-box{
        grid-template-columns: 1fr;
    }
}

.features__items-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20rem;

}

.features__items-box > .feature:nth-child(2n) .feature__card{
    direction: rtl;
}
