.footer{
    width:100%;
    text-align: center;
    background-color:#175156;
    margin-top: 16rem;

}

.footer__copyright{
    font-weight: 600;
    font-size: 20px;
    line-height: 16px;
    padding: 6rem 0;
}

.nav--footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding-bottom: 6rem;
    border-bottom: 1px solid #E2F1D6;
}

.nav__text{
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    max-width: 94rem;
    text-align: left;
}

.test-card{
    width: 80rem;
    height: 100%;
    background-color: #ffff;
    
    margin: 0 auto;
    
    transition: all .5s;
    position: relative;
   
}

.test-card::before{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: 1;
}

.test-card img{
    display: block;
    object-fit: cover;
    width: 100%;
}

.test-card span{
    display: block;
    font-size: 12rem;
    color: black;
    width: 100%;
}

@keyframes example {
    0%   {height: 0;}
    25%  {height: 25%;}
    75%  {height: 75%;}
    100% {height: 100%;}
  }
