
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
    z-index: 0;
  
    
  }
  
  .header::before{
    content: '';
    position: absolute;
    background-image: url(/src/assets/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    clip-path: ellipse(100% 100% at 50% 0%);
    height: 100vh;
    width: 100%;
    z-index: -1;
  }
  
  .header__nav-box{
    display: inline-flex;
    justify-content: space-around;
    width: 80%;
    position: absolute;
    top: 4.4rem;
  }

  .header__logo-box .header__logo{
    height: 6rem;
  }

  

  .header__nav{
    display: flex;
    align-items: center;
    gap: 6rem;
    padding: 0;
  }
  
  .header__nav-item{
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.6rem;
  
  
  }
  
  .header__text-box{
    height: 23rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    backface-visibility: hidden;
  }
  
  .heading-primary{
   /* display: flex;
    flex-direction: column;
    gap: 3rem;
    */
    margin-bottom: 4rem;
  }

  .heading-primary--main{
    display: block;
    margin-bottom: 3.3rem;
    font-weight: 500;
    font-size: 6.4rem;
    line-height: 4.8rem;
    text-align: center;
  }

  .font-w-800{
    font-weight: 800;
  }

  .heading-primary--sub{
    display: block;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 4rem;
    text-align: center;
   
  }


  