.product{
    align-self: center;
    display: grid;
    grid-template-columns: 65rem 45rem;
    grid-template-rows: 44.5rem;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0rem .2rem .5rem rgba(54, 61, 77, 0.05);
    border-radius: .5rem;
   
}

@media(  max-width: 1024px){
    .product{
       grid-template-columns: 65rem;
       border-radius: 0;
    }

    
    .product__carousel-box{
        border-radius: .5rem .5rem 0 0 !important;
    }

    .product__details-box{
        border-radius: 0 0 .5rem .5rem !important;
    }
}



.product__carousel-box{
    position: relative;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.carousel__imgs-box {
    display: inline-flex;
}

.carousel__img{
    border-radius: .5rem 0 0 .5rem;
    max-width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center center;
}


.carousel__control{
    position: absolute;
    padding: 2.2rem;
    background: #0D111A;
    opacity: 0.5;
    border-radius: 3rem;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 1;
    transition: all 0.7s;
}

.carousel__control:hover{
    opacity: 1;
}

.carousel__control--left{
    left: 0;
    bottom: 4rem;
    margin-left: 4rem;
    background-image: url('../assets/LeftIcon.svg');
}

.carousel__control--right{
    right: 0;
    bottom: 4rem;
    margin-right: 4rem;
    background-image: url('../assets/RightIcon.svg');
    
}


.product__details-box{
    background: #FFFFFF;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
    border-radius: inherit;
    gap: 3rem;
}

.product__detail{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

.product__name{
    font-weight: 500;
    font-size: 2rem;
    line-height: 3rem;
    color: #175156;
}

.product__description{
    text-align: left;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #7D8FB3;
}

.product__characteristics-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 3.3rem;
}

.product__characteristic{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #7D8FB3;
}

.text--black{
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #175156;
}




