.main__title-box{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
   
}


.main__title--bg{
    /*width: max-content;*/
    position: absolute;
    text-align: center;
    font-weight: 800;
    font-size: 15rem;
    line-height: 15rem;
    text-transform: uppercase;
    color: #8ACF3F;
    mix-blend-mode: normal;
    opacity: 0.1;
    /*letter-spacing: 4.5px;*/
}

  /*1 rem = 5px, 5/16 = 31.25%*/  /*Smart-Phone 480px*/
@media only screen and (max-width: 75em) {
  .main__title--bg{
    font-size: 10rem;
  }
}

.main__title--primary{
    font-weight: 400;
    line-height: 3.6rem;
    text-align: center;
    color: #175156;
}

.main__title--ls-primary{
    letter-spacing: .4rem;
}


.main__title--ls-secondary{
    letter-spacing: 2rem;
}

.main__title--ls-tertiary{
    letter-spacing: 3.5rem;
}


.main__title-fs--normal{
    font-size: 3.6rem;
}

.main__title-fs--small{
    font-size: 3rem;
}

  /*1 rem = 5px, 5/16 = 31.25%*/  /*Smart-Phone 480px*/
@media only screen and (max-width: 75em) {
    .main__title--ls-primary{
        letter-spacing: 0;
    }
    .main__title--ls-secondary{
        letter-spacing: 1rem;
    }
    .main__title--ls-tertiary{
        letter-spacing: 1rem;
    }

    .main__title-fs--small{
        font-size: 4rem;
    }
}