.products{
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 15rem;
}


.products__items-box{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.product__type{
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #175156;
    text-transform: uppercase;
}



