.main_reviews{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column; 
    gap: 15rem;
 
}

.main_reviews .cards_container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(35rem - 3.5rem), 1fr));
    justify-items: center;
    gap: 3.5rem;

}