
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
}

html{
  scroll-behavior: smooth;
  font-size: 62.5%;
}


body{
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  color: #FFFFFF;
}

ul{
  list-style: none;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}

.highlighted_text{
  color: #175156;
}


.container{
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  padding: 6rem 0;
}

.main{
  /*display: grid;*/
  /*max-width: 1440px;*/
  /*grid-template-columns: 1fr;*/
  /*grid-template-rows:repeat(auto-fill,1fr);*/
  /*gap: 6rem;*/
  margin: 0 auto;
  overflow: hidden;
  background: #F8FAFC;
}

.main__sections{
  max-width: 110rem;
  margin: 0 auto;
}

.main__sections > div{
  margin-top: 15rem;
}


.main__footer-section{
  margin-top: 37rem; 
}

